
@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400;700&family=Inter:wght@100;200;300&family=Neonderthaw&family=Playfair+Display:ital,wght@0,400;0,500;1,400&family=Unica+One&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Playfair Display', serif;
    scroll-behavior: smooth;
    
}


#camellos{
    transform: translateY(20px);
   
}


.imagenAbout{
    width: 40%;
    height: 40%;
    float: right;
    margin-top: 10%;
    margin-left: 0;
    padding-left: 2%;
}

.textoAbout{
    width: 52%;
    height: 70%;
    float: left;
    padding-bottom: 3%;
    
}

.fondoArreglar{
    z-index: 10000;
    background-color: #110D26;
    width: 100%;
    height: 105%;
}

body{
    height:100vh ;
    background-image: url("../images/FONDO\ CIELO.png");
    overflow-x: hidden;

}

header{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 30px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 10000;
    
}

header a.logo{
    color: #ffff;
    font-weight: 300;
    text-decoration: none;
    font-size: 2em;
    letter-spacing: 5px;
    font-family: 'Neonderthaw', cursive;

}

header ul{
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li{
    list-style: none;
    margin-left: 20px;
}

header ul li a{
    text-decoration: none;
    padding: 6px 15px;
    color: #ffff;
    border-radius: 20px;
}


header ul li a:hover{
background: #ffff;
color: rgb(37, 26, 48);
}

.active{
    background: #ffff;
color: rgb(37, 26, 48);
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    padding: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;

}

section::before{
    content: '';
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100x;
    background-color: #110D26;
    z-index: 1000;
}

section img{
    position: absolute;
    top: 0%;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}


section img#cactus{
    top: 100px;
    left: -150px;
   
    z-index: 10;
    
}

section img#nubes{
    width: 100%;
}
section img#nubesFondo{
    width: 100%;
}

section img#moon{
        mix-blend-mode: screen;
        pointer-events: none;
    }


section img#mountains_front{
        z-index: 10;
    }

section img#cactus{
    margin-top: 3%;
}


#text{
        position: absolute;
        right: -500px;
        color: #FFFFFF;
        text-shadow: slategrey 2px 2px;
        white-space: nowrap;
        font-size: 7.5vw;
        z-index: 9;
        transform: translateY(100px);
    }

#btn{
    text-decoration: none;
    padding: 8px 30px;
    border-radius: 40px;
    background: white;
    color: rgb(75, 34, 75);
    font-size: 1.5em;
    z-index: 9;
    transform: translateY(100px);
}

.sec{
    position: relative;
    padding: 100px;
    background-color: #110D26;
}

.sec h2{
    font-size: 3.5em;
    margin-bottom: 10px;
    color: white;
}

.sec p{
    font-size: 1.2em;
    color: white;
    text-align: justify;
}



.contact{
    width: 100%;
    height: 100vh;
}




.modal-bgContact{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0,0,5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s, opacity 0.5s;

}

.modal-closeContact{
    position: absolute;
    top: 10px;
    right: 10px;
    font-weight: bold;
    cursor: pointer;
}


.bg-active{
    visibility: visible;
    opacity: 1;
}

.modalContact{
background-color: #6333B9;
width: 50%;
height: 50%;
display: flex;
justify-content: space-around;
align-items: center;
flex-direction: column;
position: relative;
}

.modal-btnContact{
    display: block;
    padding-top: 0;
    padding-left: 0;
    height: 0;
    text-decoration: none;
    font-family: 'Playfair Display', serif;
    font-variant:small-caps;
    text-align: center;
    color: #ffff;
}

.modalContact p{
    text-align: center;
    padding: 10px;
}

#mailMoonlight{
    background-color: rgba(0, 0, 0, 0.5);
    width: 60%; 
    padding: 1%; 
    border-radius: 3px; 
    color: white;
    text-decoration: none;
}


.listaServicios{
    
        font-size: 1.2em;
        color: white;
        text-align: justify;
    
}

#tour{
    font-size: 1.4em;
        color: white;
        text-align: justify;
        line-height: 3em;
        font-weight:bold;
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    

}
